.hero-container {
    display: flex;
    gap: 20px;
}
.hero-box {
    width: 300px;
    margin: 0 auto;
    background-color: #eee;
    text-align: center;
    border-radius: 15px;
    border-bottom-width: 7px;
    /* border-color: #0a74da; */
    border-style: solid;
    box-shadow: 10px 10px 20px #000;
}
.hero-box:hover{
    background-color: #eee4ee;
    cursor: pointer;
    transition: 0.2s;

}

.hero-box img {
    width: 250px;
    height: 200px;
}

.box-background {
    background-color: #1b1f23;
}
#capitao-america{
    color: #0a74da;
}
#homem-ferro{
    color: #c62828;
}
#thor{
    color: #f9a825;
}

#tittle {
    text-align: center;
    color:  #0a74da;
}

